# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
/build
/dist

# Coverage reports
coverage/

# Environment variables
.env
.env.local

# IDEs and editors
.idea/
.vscode/
*.swp

# Misc
*.log

# TypeScript build info
tsconfig.tsbuildinfo